.asks-list table {
    margin: 0 auto;
}

.Accepted {
    color: #28a745;
}

.Rejected {
    color: #dc3545;
}

button {
    color: white;
}

button.accept {
    background-color: #28a745;
}

button.reject {
    background-color: #dc3545;
}