
.App .new-ask-form {
    text-align: center;
}

.errors {
    color: red;
    min-height: 4em;
}

.ask-date {
    font-style: italic;
}

input {
    margin: 0 10px;
}

.question-input {
    width: 40%;
}

.askee-input {
    width: 20%;
}
